Package: nameroute
Version: %%VERSION%%
Architecture: %%ARCH%%
Maintainer: nakano
Description: Local TCP L7 Router
 nameroute is a local TCP Layer 7 router that automatically
 discovers Docker containers and routes HTTP/HTTPS traffic
 based on hostnames.
Section: net
Priority: optional
Depends: libc6
